RewriteEngine On



RewriteCond %{REQUEST_URI} 	!^.*/(asset|vendor|application)/.*
RewriteCond	%{REQUEST_URI}	!^.*/(index\.php)$
RewriteCond	%{REQUEST_URI}	!^.*/(action\.php)$



RewriteRule ^.*$	index.php?%{QUERY_STRING}