



<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">


    <div class="mdl-tabs__tab-bar">


        <a href="#module=Tag&action=TagTypeManager.initialize" class="mdl-tabs__tab is-active">Gestion des types de tags</a>
        <a href="#module=Tag&action=TagManager.initialize" class="mdl-tabs__tab">Gestion des tags</a>
        <a href="#test2" class="mdl-tabs__tab">Gestion des associations</a>
    </div>


    <div class="mdl-tabs__panel is-active" id="#test0">






        <div class="mdl-grid demo-content">


            <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col  mdl-cell--4-col-tablet">
                <div style="border: none; " id='tree'></div>
            </div>




            <div class="demo-cards mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet mdl-grid mdl-grid--no-spacing">


                <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">


                    <div class="mdl-card__title mdl-card--expand mdl-color--teal-300 tagTypeCaption"></div>
                    <div class="mdl-card__supporting-text mdl-color-text--grey-600 tagForm">

                    </div>
                </div>

            </div>


            <!--
                        <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                            main-bottom
                        </div>
            //-->

        </div>

    </div>
</div>











